<%inherit file="base.html"/>

<%def name="head()"> 
<link id="codestyle" href="/js/prettify/prettify.css" rel="stylesheet" />
<script src="/js/prettify/prettify.js"></script>
<script>
$(document).ready(function(){
     prettyPrint();
})

function setStyle(stylename)
{
     $("#codestyle").attr("href","/js/prettify/"+stylename+".css")
}
</script>
</%def> 


<%def name="body()">
<div class="container-fluid">
<div class="row-fluid">
  <div class="span8">
    <div class="row-fluid">    
    <div class="page-header">
      <h3>${content["title"]}</h3>
    </div>      
    <div>    
    <select class="pull-right" onchange="setStyle(this.value);" >
         <option value="prettify">默认样式</option>
         <option value="sons-of-obsidian">sons-of-obsidian</option>
         <option value="sunburst">sunburst</option>
    </select> 
    </div>

    <!-- //start codes -->
    <pre class="prettyprint Lang-${content["lang"]} linenums">${content["content"]}</pre>
     <!-- //end codes -->


    <!-- 评论列表-->
    <table class="table">
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>    
    % for comment in comments:
    <tr>
      <td width="45"><img class="post-meta" src="${ctx.get_avatar(comment.get('email'),35)}" ></td>
      <td>
        <p >${ctx.md.convert(comment["content"])}</p>
        <div >
          % if comment.get("userid"):
          <span><a href="#">@${ctx.get_user(comment.userid)["username"] | h}</a> </span>&nbsp;&nbsp;
          % else:
            <span><a href="${comment.url or '#'}" rel="nofollow">${comment.author | h}</a> </span>&nbsp;&nbsp;
          % endif
          <span class="active">${ctx.convtime(comment['created'])} </span> &nbsp;&nbsp;       
           % if comment.via:
           <span class="active">via: ${comment['via']} </span> &nbsp;&nbsp;    
           % endif
        </div>             
        </td>
      </tr>
    % endfor
    </tbody>
   </table>
    <ul class="pager">
      % if page > 1:
        <li><a href="${ctx.env.get("PATH_INFO")}?page=${page-1}">上一页</a></li>
      % endif
      % if comments and  len(comments)>= ctx.pagesize: 
        <li><a href="${ctx.env.get("PATH_INFO")}?page=${page+1}">下一页</a></li>
      % endif
      </ul>
    <!-- 评论表单-->
    <form class="well" action="/code/comment/add" method="post" autocomplete="on">
    <fieldset>
     <input type="hidden" name="postid" value="${content.id}">
      % if not session.get("user"):
      <label>作者</label>
      <input name="author" type="text" required="required" class="span4" placeholder="输入用户名">
      <label>电子邮箱</label>
      <input name="email" type="email" required="required" class="span4" placeholder="输入email">
      <label>主页</label>
      <input name="url" type="url"   class="span4" placeholder="输入主页地址">
      % endif
      <label>评论内容（支持<a href="http://www.talkincode.org/group/post/view/fd1f3be720884decbbd40f659cf1157a">markdown</a>语法）</label>
       <textarea class="input-xlarge" id="content" name="content"  required="required"  rows="6" style="margin: 0px; width: 680px; height: 120px; "></textarea>  
      <br/>
      <button type="submit" class="btn">立即发表</button>
      </fieldset>
    </form>    
    </div>
  </div>
 <!-- //评论表单-->


  <div class="span3">
      <div class="well">
      <ul class="nav">
        <li>发布者：<a href="#">${content['author']}</a></li>
        <li>编程语言: <a href="/code/category/${content['lang']}">${content['lang']}</a></li>
        <li>浏览次数: ${content['hits']}</li>
        <li>标签：
        % for tag in content["tags"].split(","):
          <a href="/code/tag/${tag}#codetab">${tag}</a>
        % endfor 
       </li>
       <br>
       <li><a class="btn btn-small" href="/code/add">分享代码</a> </li>
       <li><a class="btn btn-small" href="/group/post/add?codeid=${content["id"]}">发起讨论</a> </li>
       <li><a class="btn btn-small" href="/code/download/${content["id"]}">下载代码</a> </li>
       </ul>
    </div>
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">所有版本</li>
        % for topit in versions:
        <li><a href="/code/view/${topit['id']}"> <i class="icon-list-alt"></i>${topit['title']}</a></li>
        % endfor
      </ul>
    </div><!--/.well -->
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">相关讨论</li>
        % for post in posts:
        <li><a href="/group/post/view/${post['id']}"> <i class="icon-list-alt"></i>${post['title']}</a></li>
        % endfor
      </ul>

    </div><!--/.well -->    
  </div><!--/span-->
  </div><!--/row-->
</div>




</%def> 


