<%inherit file="base.html"/>

<%def name="head()"> 
<link href="/js/prettify/prettify_blank.css" rel="stylesheet" />
<script src="/js/prettify/prettify.js"></script>
<script>
$(document).ready(function(){
     prettyPrint();
})
</script>
</%def> 


<%def name="body()">
<div class="container-fluid">
<div class="row-fluid">
  <div class="span8">
    <div class="row-fluid">
    <!-- //start codes -->
    <pre class="prettyprint linenums Lang-python">
<h3># ${content["title"]} </h3>   
#@auther: ${content['auther']}  @lang: ${content['lang']}  @hits: ${content['hits']}
#@tags: ${content['tags']}
${content["content"]}
    </pre>
     <!-- //end codes -->
    </div>
  </div>

  <div class="span4">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">所有版本</li>
        % for topit in versions:
        <li><a href="/code/view/${topit['id']}"> <i class="icon-list-alt"></i>${topit['title']}</a></li>
        % endfor
      </ul>
    </div><!--/.well -->
  </div><!--/span-->
  </div><!--/row-->
</div>




</%def> 


