<%inherit file="base.html"/>

<%def name="head()"> 
<link href="/js/prettify/prettify.css" rel="stylesheet" />
<script src="/js/prettify/prettify.js"></script>
<script>
$(document).ready(function(){
     prettyPrint();
})
</script>
</%def> 


<%def name="body()">
<div class="container-fluid">
<div class="row-fluid">
  <div class="span8">
    <div class="row-fluid">
    <div class="page-header">
      <h2>${content["title"]}</h2>
    </div>      
    <p>
        <a>@${content['auther']}</a>&nbsp;&nbsp;
        编程语言: ${content['lang']}&nbsp;&nbsp;
        浏览次数: ${content['hits']}&nbsp;&nbsp;
      % for tag in content["tags"].split(","):
          <a href="/tags/list/${tag}#codetab">${tag}</a>&nbsp;
       % endfor 
       <a class="btn" href="/group/post/add?codeid=${content["id"]}">发起讨论</a> 
    </p>
    <!-- //start codes -->
    <pre class="prettyprint linenums Lang-${content["lang"]}">
${content["content"]}
    </pre>
     <!-- //end codes -->
    </div>
  </div>

  <div class="span4">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">所有版本</li>
        % for topit in versions:
        <li><a href="/code/view/${topit['id']}"> <i class="icon-list-alt"></i>${topit['title']}</a></li>
        % endfor
      </ul>
    </div><!--/.well -->
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">相关讨论</li>
        % for post in posts:
        <li><a href="/group/post/view/${post['id']}"> <i class="icon-list-alt"></i>${post['title']}</a></li>
        % endfor
      </ul>

    </div><!--/.well -->    
  </div><!--/span-->
  </div><!--/row-->
</div>




</%def> 


