<%inherit file="base.html"/>

<%def name="head()"> 

</%def> 


<%def name="body()">
<div class="container-fluid">
<div class="row-fluid">
  <div class="span8">
    <div class="row-fluid">
    <!-- //codes list -->
    <a class="btn" href="/code/add">发布代码</a> 
    <table class="table">
     <thead>
        <tr>
          <th>热度</th>
          <th>语言</th>
          <th>标题</th>
          <th>分享者</th>
          <th>时间</th>
        </tr>
      </thead>    
      <tbody>
      % for topit in tops:
        <tr>
          <td><span class="badge">${topit['hits']}</span></td>
          <td><span class="label label-info">${topit['lang']}</span></td>
          <td><a href="/code/view/${topit['id']}"> ${topit['title']}</a> </td>
          <td><a href="#">@${topit['author']}</a></td>
          <td>${topit['create_time']}</td>
        </tr>
      % endfor
      </tbody>
    </table>
    <ul class="pager">
    % if page > 1:
      <li><a href="${ctx.env.get("PATH_INFO")}?page=${page-1}">上一页</a></li>
    % endif
    % if tops and len(tops)>= ctx.pagesize: 
      <li><a href="${ctx.env.get("PATH_INFO")}?page=${page+1}">下一页</a></li>
    % endif
    </ul> 
     <!-- //end codes list -->
    </div>
  </div>

  <div class="span3">
    <div class="well sidebar-nav">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>编程语言</th>
        </tr>
      </thead>
      <tbody>
       % for lang in langs:
        <tr>
          <td><a href="/code/category/${lang["name"]}">${lang["name"]}</a></td>
        </tr>
        % endfor
      </tbody>
    </table>
    </div><!--/.well -->
  </div><!--/span-->
  </div><!--/row-->
</div>




</%def> 


