<%inherit file="base.html"/>

<%def name="head()"> 
</%def> 


<%def name="body()">
<div class="container-fluid">
<div class="row-fluid">
  <div class="span8"> 
    <div class="row-fluid">
       <ul class="breadcrumb">
      <li>
        <a href="#">talkincode讨论区</a>: 
      </li>
      <li class="active">主题数:${stats.get("total")}</li><span class="divider">/</span>
      <li class="active">浏览次数:${stats.get("hits_total") or 0}</li>
    </ul>  
    <a class="btn" href="/group/post/add">发表主题</a> 
    <table class="table">
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>
    <tbody>    
    <!-- //codes list -->   
    % for topit in tops:
    <tr>
      <td >
        <span ><span class="badge">${topit['hits']}</span> 
      </td>
      <td>
        <h3><a href="/group/post/view/${topit['id']}"> ${topit['title']}</a> </h3>
        <p >${topit["content"][:128]}</p>
        <div >
          <span><a href="/group/category/${get_group(topit['groupid'])["guid"]}">
          ${ctx.get_group(topit['groupid'])["name"]}</a> </span>&nbsp;&nbsp;
          <span><a href="#">@${ctx.get_user(topit['userid'])["username"]}</a> </span>&nbsp;&nbsp;
          <span class="active">${topit['modified']} </span> &nbsp;&nbsp; 
           % for tag in topit["tags"].split(","):
            <span >${tag}</span>
           % endfor          
        </div>             
        </td>
        </tr>
    % endfor 
    </tbody>
   </table>
    <ul class="pager">
    % if page > 1:
      <li><a href="${ctx.env.get("PATH_INFO")}?page=${page-1}">上一页</a></li>
    % endif
    % if tops and len(tops)>= ctx.pagesize: 
      <li><a href="${ctx.env.get("PATH_INFO")}?page=${page+1}">下一页</a></li>
    % endif
    </ul>
   <!-- //end codes list -->
  </div>
  </div>

  <div class="span3">
    <div class="well sidebar-nav">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>活跃小组</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
       % for group in groups:
        <tr>
          <td><a href="/group/category/${group.get("guid")}">${group["name"]}</a></td>
          <!--<td><span class="badge badge">${group["posts"]}</span></td>-->
        </tr>
        % endfor
      </tbody>
    </table>
    </div><!--/.well -->
  </div><!--/span-->
  </div><!--/row-->
</div>

</%def> 


