<%inherit file="base.html"/>

<%def name="head()"> 
<link href="/js/prettify/prettify_blank.css" rel="stylesheet" />
<script src="/js/prettify/prettify.js"></script>
<script>
$(document).ready(function(){
     prettyPrint();
})
</script>
</%def> 


<%def name="body()">
<darkolivegreen  class="container-fluid">
<div class="row-fluid">
<div class="span8">
  <div class="row-fluid">

  <table class="table">
  <thead>
    <tr>
      <th> 热门编程语言： </th>
      % for lang in langs[:8]:
      <th><a href="/code/category/${lang["name"]}">${lang["name"]}</a></th>
      % endfor
      <th><a class="btn btn-small" href="/code/add">分享我的代码</a> </th>
      </tr>
   </thead>       
  </table>
    <table class="table">
     <thead>
        <tr>
          <th>热度</th>
          <th>语言</th>
          <th>标题</th>
          <th>分享者</th>
          <th>时间</th>
        </tr>
      </thead>    
      <tbody>
      % for topit in tops[:10]:
        <tr>
          <td><span class="badge">${topit['hits']}</span></td>
          <td><span class="label label-info">${topit['lang']}</span></td>
          <td><a href="/code/view/${topit['id']}"> ${topit['title']}</a> </td>
          <td><a href="#">@${topit['auther']}</a></td>
          <td>${topit['create_time']}</td>
        </tr>
      % endfor
      </tbody>
    </table>

     <ul class="breadcrumb">
      <li>
        <a href="/group">talkincode讨论区</a>: 
      </li>
      <li class="active">主题数:${stats.get("total")}</li><span class="divider">/</span>
      <li class="active">浏览次数:${stats.get("hits_total") or 0}</li>
    </ul>   

    <table class="table">
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>
    <tbody>    
    % for topit in posts:
    <tr>
      <td >
        <span ><span class="badge">${topit['hits']}</span> 
      </td>
      <td>
        <h3><a href="/group/post/view/${topit['id']}"> ${topit['title']}</a> </h3>
        <p >${topit["content"][:128]}</p>
        <div >
          <span><a href="/group/category/${ctx.get_group(topit['groupid'])["guid"]}">
          ${ctx.get_group(topit['groupid'])["name"]}</a> </span>&nbsp;&nbsp;
          <span><a href="#">@${ctx.get_user(topit['userid'])["username"]}</a> </span>&nbsp;&nbsp;
          <span class="active">${topit['modified']} </span> &nbsp;&nbsp; 
           % for tag in topit["tags"].split(","):
            <span >${tag}</span>
           % endfor          
        </div>             
        </td>
        </tr>
    % endfor
    </tbody>
   </table>


    </div>
  </div>

  <div class="span3">
    <div class="well sidebar-nav">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>热门标签</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
       % for tag in tagset:
        <tr>
          <td><a href="/tags/list/${tag[0]}">${tag[0]}</a></td>
          <td><span class="badge badge">${tag[1]}</span></td>
        </tr>
        % endfor
      </tbody>
    </table>
    </div><!--/.well -->
  </div><!--/span-->
  </div><!--/row-->
</darkolivegreen  >

</%def> 


