<%inherit file="base.html"/>

<%def name="head()"> 
</%def> 


<%def name="body()">

<div class="container">

<form class="well span8" action="/group/post/add" method="post" autocomplete="on">
<fieldset>
  <label>标题</label>
  <input type="hidden" name="codeid" value="${codeid or ''}">
  <input name="title" type="text"  autofocus="autofocus" required="required" class="span6" placeholder="输入标题">
  <label>标签</label>
  <input name="tags" type="text" class="span6" placeholder="输入标签,使用英文逗号分隔">
  <label>选择讨论组</label>
  <div class="controls">
  % for grp in groups:
      <label class="checkbox inline">
        <input type="radio" name="gid"  value="${grp["id"]}" ${ gid==grp["id"] and "checked" or "" } >${grp["name"]}
      </label>
  % endfor
  </div>
    <br/>
  <label>主题内容（支持<a href="http://daringfireball.net/projects/markdown/syntax">markdown</a>语法）</label>
   <textarea class="input-xlarge" id="content" name="content" rows="9" style="margin: 0px; width: 600px; height: 280px; "></textarea>  
  <br/>
  <button type="submit" class="btn">立即发表</button>
  <button type="button" class="btn" onclick="history.go(-1);">取消发表</button>
  </fieldset>
</form>

</div>

</%def> 