<%inherit file="base.html"/>

<%def name="head()"> 

</%def> 


<%def name="body()">
<div class="container-fluid">
<div class="row-fluid">
  <div class="span8"> 
    <div class="row-fluid">
    <div class="page-header">
      <h3>${post["title"]}</h3>
    </div>  
    % if code :
     <div class="alert alert-success">相关代码：<a href="/code/view/${code["id"]}">${code["title"]}</a></div>
    % endif    
    <div > 
    <p >
     <a href="#">@${ctx.get_user(post['userid'])["username"]}</a> &nbsp;&nbsp;标签：
      % for tag in post["tags"].split(","):
          <a href="/tags/list/${tag}">${tag}</a>&nbsp;
       % endfor 
     </p>
    ${ctx.md.convert(post["content"])}
    </div>
    
    <!-- 评论列表-->
    <table class="table">
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>    
    % for comment in comments:
    <tr>
      <td><img class="post-meta" src="${ctx.get_avatar(comment.get('email'),35)}" ></td>
      <td>
        <p >${ctx.md.convert(comment["content"])}</p>
        <div >
          % if comment.get("userid"):
          <span><a href="#">@${ctx.get_user(comment.get("userid"))["username"]}</a> </span>&nbsp;&nbsp;
          % else:
            <span><a href="${comment.get('url')}" rel="nofollow">${comment.get("author")}</a> </span>&nbsp;&nbsp;
          % endif
          <span class="active">${comment['created']} </span> &nbsp;&nbsp;       
           % if comment.get("via"):
           <span class="active">via: ${comment['via']} </span> &nbsp;&nbsp;    
           % endif
        </div>             
        </td>
      </tr>
    % endfor
    </tbody>
   </table>
       <ul class="pager">
      % if page > 1:
        <li><a href="${ctx.env.get("PATH_INFO")}?page=${page-1}">上一页</a></li>
      % endif
      % if comments and  len(comments)>= ctx.pagesize: 
        <li><a href="${ctx.env.get("PATH_INFO")}?page=${page+1}">下一页</a></li>
      % endif
      </ul>
    <!-- 评论表单-->
    <form class="well" action="/group/comment/add" method="post" autocomplete="on">
    <fieldset>
     <input type="hidden" name="postid" value="${post["id"]}">
      % if not session.get("user"):
      <label>作者</label>
      <input name="author" type="text" required="required" class="span4" placeholder="输入用户名">
      <label>电子邮箱</label>
      <input name="email" type="email" required="required" class="span4" placeholder="输入email">
      <label>主页</label>
      <input name="url" type="url"   class="span4" placeholder="输入主页地址">
      % endif
      <label>评论内容（支持<a href="http://www.talkincode.org/group/post/view/fd1f3be720884decbbd40f659cf1157a">markdown</a>语法）</label>
       <textarea class="input-xlarge" id="content" name="content"  required="required"  rows="6" style="margin: 0px; width: 680px; height: 120px; "></textarea>  
      <br/>
      <button type="submit" class="btn">立即发表</button>
      </fieldset>
    </form>    
    </div>
  </div>
 <!-- //评论表单-->
  <div class="span3">
    <div class="well sidebar-nav">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>活跃话题</th>
        </tr>
      </thead>
      <tbody>
       % for tag in tags:
        <tr>
          <td><a href="/group/tag/${tag[0]}">${tag[0]}</a></td>
          <td><span class="badge badge">${tag[1]}</span></td>
        </tr>
        % endfor
      </tbody>
    </table>
    </div><!--/.well -->
  </div><!--/span-->
  </div><!--/row-->
</div>

</%def> 


