<%inherit file="base.html"/>

<%def name="head()"> 

</%def> 


<%def name="body()">
<div class="container-fluid">
<div class="row-fluid">
  <div class="span8"> 
    <div class="row-fluid">
    <div class="page-header">
      <h3>${proj.name}</h3>
    </div>     
    <div > 
    ${ctx.md.convert(proj.description)}
    </div>
    
    <!-- 评论列表-->
    <table class="table">
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>    
    % for comment in comments:
    <tr>
      <td width="45"><img class="post-meta" src="${ctx.get_avatar(comment.get('email'),35)}" ></td>
      <td>
        <p >${ctx.md.convert(comment["content"])}</p>
        <div >
          % if comment.get("userid"):
          <span><a href="#">@${ctx.get_user(comment.userid)["username"]}</a> </span>&nbsp;&nbsp;
          % else:
            <span><a href="${comment.url or '#'}" rel="nofollow">${comment.author}</a> </span>&nbsp;&nbsp;
          % endif
          <span class="active">${ctx.convtime(comment['created'])} </span> &nbsp;&nbsp;       
           % if comment.via:
           <span class="active">via: ${comment['via']} </span> &nbsp;&nbsp;    
           % endif
        </div>             
        </td>
      </tr>
    % endfor
    </tbody>
   </table>
       <ul class="pager">
      % if page > 1:
        <li><a href="${ctx.env.get("PATH_INFO")}?page=${page-1}">上一页</a></li>
      % endif
      % if comments and  len(comments)>= ctx.pagesize: 
        <li><a href="${ctx.env.get("PATH_INFO")}?page=${page+1}">下一页</a></li>
      % endif
      </ul>
    <!-- 评论表单-->
    <form class="well" action="/open/comment/add" method="POST" autocomplete="on">
    <fieldset>
      <input type="hidden" name="postid" value="${proj.id}">
      % if not session.get("user"):
      <label>作者</label>
      <input name="author" type="text" required="required" class="span4" placeholder="输入用户名">
      <label>电子邮箱</label>
      <input name="email" type="email" required="required" class="span4" placeholder="输入email">
      <label>主页</label>
      <input name="url" type="url"   class="span4" placeholder="输入主页地址">
      % endif
      <label>评论内容（支持<a href="http://www.talkincode.org/group/post/view/fd1f3be720884decbbd40f659cf1157a">markdown</a>语法）</label>
       <textarea class="input-xlarge" id="content" name="content"  required="required"  rows="6" style="margin: 0px; width: 680px; height: 120px; "></textarea>  
      <br/>
      <button type="submit" class="btn">立即发表</button>
      </fieldset>
    </form>    
    </div>
  </div>
 <!-- //评论表单-->
  <div class="span3">
    <div class="well">
      <ul class="nav">
        <li>所有者：<a href="${proj.homepage}">${proj.owner}</a></li>
        <li>编程语言: ${proj.lang}</a></li>
        <li>浏览次数: ${proj.hits}</li>
        <li>标签：
        % for tag in proj.tags.split(","):
          <a href="/open/tag/${tag}">${tag}</a>
        % endfor 
       </li>        
       <br>
       <li><a class="btn btn-small" href="${proj.homepage}">项目主页</a> </li>
       </ul>
    </div><!--/.well -->
  </div><!--/span-->
  </div><!--/row-->
</div>

</%def> 


