<%inherit file="base.html"/>

<%def name="head()"> 
</%def> 


<%def name="body()">
<div class="container-fluid">
<div class="row-fluid">
  <div class="span8">
    <div class="row-fluid">

    </div>
  </div>

  <div class="span3">
    <div class="well sidebar-nav">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>${session.get["user"][""username]}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="#{}">...</a></td>
        </tr>
      </tbody>
    </table>
    </div><!--/.well -->
  </div><!--/span-->
  </div><!--/row-->
</div>

</%def> 


